:root {
  --orange-light: #f5b4a0;
  --orange-dark: #ed7138;
  --gray-text: #605e5c;
}

/* RESET CSS */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

* {
  box-sizing: border-box;
}

/* CUSTOM STYLES */
body {
  background-color: var(--orange-light);
  color: var(--gray-text);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  height: 100vh;
}

h1, h2, h3, h4, h5, b, strong {
  font-weight: 600
}

.d-flex {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.row {
  width: 90%;
}

.col {
  flex-basis: 100%;
}

.col-image {
  background-color: var(--orange-dark);
  padding: 1rem;
  text-align: center;
}
.col-image img {
  height: 110px;
}

.col-form {
  background-color: #fff;
  padding: 2rem;
}